extends layout

block content

    <span ng-init="bitcoin_rate='#{EURBTC.rate}'"></span>
    <span ng-init="BTC_buy_price='#{(1 / EURBTC.rate)}'"></span>
    <span ng-init="BTC_selling_price='#{BTCEUR.rate}'"></span>
    <span ng-init="old_bitcoin_deposit='#{OLD_BTC}'"></span>
    <span ng-init="current_bitcoin_deposit='#{BTC}'"></span>
    <span ng-init="old_euro_deposit='#{OLD_EUR}'"></span>
    <span ng-init="current_euro_deposit='#{EUR}'"></span>

    span Last time: {{ #{current_time_stamp} | date : 'yyyy-M-d H:mm:ss'}}

    <div class="container">
        <div class="row">
            div(class="col s12 m5 z-depth-1") Pardavimo kaina: {{ BTC_selling_price | number : 3 }} &euro; = 1 ₿
                div Siuo metu turiu: {{current_bitcoin_deposit}} ₿
                h5 Turimu ₿ verte pardavimui {{ current_bitcoin_deposit * BTC_selling_price | number : 3 }} &euro;
                br
                div(class="col s12 z-depth-1")
                    <div class="input-field">
                      <i class="material-icons prefix">euro_symbol</i>
                      <input id="icon_prefix" ng-model="current_euro_deposit" type="text" class="validate">
                      <label for="icon_prefix">Current ballance</label>
                    </div>
                    div Uz {{current_euro_deposit| number : 3 }} &euro; galima nusipirkti : <b>{{ bitcoin_rate * current_euro_deposit| number : 8 }} ₿</b>
                    br
                | &nbsp;

            div(class="col s12 m2 center-align") Skirtumas:
                b {{ (BTC_selling_price - BTC_buy_price) | number : 8 }} &euro;

                div(class="") Currently in stock
                    <div class="switch center-align">
                        <label>
                            span ₿
                            <input type="checkbox" mg-model="currrent_stock">
                            <span class="lever"></span>
                            span &euro;
                        </label>
                    </div>
                    <span ng-bind="currrent_stock"></span>
                    hr
                    <div class="input-field col s-6" ng-init="bitcoin_counter='0.001'">
                        <i class="material-icons prefix">₿</i>
                        <input id="icon_prefix" ng-model="bitcoin_counter" type="text" class="validate">
                        <label for="icon_prefix">Bitkonu kiekis</label>
                    </div>
                    span Verte: {{ (BTC_selling_price * bitcoin_counter) | number: 3 }} &euro;
                    hr



            div(class="col s12 m5 z-depth-1 right-align") Pirkimo kaina: {{ BTC_buy_price }} &euro; =  1 ₿
                div Siuo metu turiu: {{current_euro_deposit| number : 3 }} &euro;
                h5 Turimu &euro; verte pirkimui {{ (current_euro_deposit / BTC_buy_price) | number : 8}} ₿

                div(class="col s12 z-depth-1")
                    div(class="center-align container col s12") <br>Kad uzdirbtum <b>{{ wage | number : 3 }} &euro;</b>
                    | uz <b>{{ current_bitcoin_deposit | number : 8}} ₿</b> pardavimo kursas turi būti <b>
                    | {{ (wage / current_bitcoin_deposit) | number : 3 }} &euro;</b>
                    <span ng-init="wage=current_euro_deposit"></span>
                    <div class="input-field col s-6">
                        <i class="material-icons prefix">euro_symbol</i>
                        <input id="icon_prefix" ng-model="wage" type="text" class="validate">
                        <label for="icon_prefix">Planuojamas uzdarbis</label>
                    </div>
                    <div class="input-field col s-6">
                        <i class="material-icons prefix">₿</i>
                        <input id="icon_prefix" ng-model="current_bitcoin_deposit" type="text" class="validate">
                        <label for="icon_prefix">Bitkonu kiekis</label>
                    </div>
                | &nbsp;
            | &nbsp;
        hr
        br
        div(class="row")
            div(class="center-align") Seniau turejau :
                b {{old_bitcoin_deposit | number : 8 }} ₿
                | &nbsp;prieaugis&nbsp;
                b {{ (current_bitcoin_deposit - old_bitcoin_deposit)| number : 8 }}
                | &nbsp;siuo metu ju verte&nbsp;
                b {{ ((current_bitcoin_deposit - old_bitcoin_deposit) * BTC_selling_price)| number : 8 }}

        div(class="center-align") Skirtumas tarp investuotos kainos ir dabartines vertes :
            b {{ ((current_bitcoin_deposit * BTC_selling_price) - old_euro_deposit)| number : 3 }}

    </div>

    <div id="container" style="width:100%; height:400px;"></div>
